@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');@tailwind base;
@tailwind components;
@tailwind utilities;


table , th , td{
    border-collapse: collapse;
    border: 1px  solid rgb(9, 118, 118);
    padding: 6px;
}

#accordion{
    background-image: url('https://i.postimg.cc/MKQ4h2KG/faqImg.png');
    background-repeat: no-repeat;
}
.flex-1> span{
    font-weight: bold;
    text-indent: 1px;
}