@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.cdnfonts.com/css/copilme');

body{
    font-family: 'Copilme', sans-serif;

}
section h1{
    font-family: 'Copilme', sans-serif;

}

table , th , td{
    border-collapse: collapse;
    border: 1px  solid rgb(9, 118, 118);
    padding: 6px;
}